
body {
	background-color: black;
	font-size: 16;
	color: #a8a8a8;
	margin-left: auto;
	margin-right: auto;
	max-width: 50em;
	box-sizing: border-box;
}

b, i, u, a {
	color: #a8a8a8;
	background-color: transparent;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

b {
	/* "All text from the \i to the \p will be displayed in
	   high-intensity white. " */
	color: #ffffff;
}

i {
	/* "All text from the \i to the \p will be displayed in green." */
	color: #00aa00;
}

u {
	/* "All text from the [\u] to the \p will be displayed in pale red. */
	color: #ff5555;
}

a {
	background-color: #181818;
}

pre {
	margin-top: 5px;
}

.grhilite {
	color: #00a800;
}

.page-title {
	margin-top: 1em;
	background-color: #a8a8a8;
	color: black;
	font-family: monospace;
	white-space: pre;
}

a:hover, a:active {
	background-color: #a8a8a8;
	color: #000000;
}

.page-heading {
	position: relative;
	font-weight: bold;
}

.page-heading a {
	text-decoration: underline;
}

#search-box {
	position: absolute;
	right: 0;
	top: 50%;
	width: 15em;
	transform: translate(0, -50%);
}

